@media (max-width: 1200px) {
  .container {
    max-width: 970px;
    padding: 0 60px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 750px;
    padding: 0 50px;
  }
  .block-1__title {
    margin-top: 170px;
  }
}
@media (min-width: 992px) {
  .block-section {
    flex-direction: row;
    margin: 0 -6px;
  }
  .block-text {
    text-align: left;
    order: 1;
    margin: 0 6px;
  }
  .block-img {
    margin: 0 6px;
    order: 1;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: none;
    padding: 0 40px;
  }
  .block-1__title {
    margin-top: 110px;
  }
  .block-1__registration {
    margin-top: 20px;
    align-items: center;
    flex-direction: column;
  }
  .block-1__button-link {
    margin: 15px 0 0 0;
  }
}
@media (max-width: 600px) {
  .block-1__filter {
    min-height: 600px;
  }
  .block-1__input-email {
    width: 100%;
  }
  .block-1__input {
    width: 100%;
  }
  .block-1__button-link {
    align-self: start;
  }
  .block-1__header-login-link a {
    margin-left: 10px;
  }
  .block-1__header-logo img {
    width: 120px;
    height: 32px;
  }
  .block-6__spoller-container {
    font-size: 18px;
  }
  .block-6__spoller-button {
    padding: 24px 60px 24px 24px;
  }
  .block-6__spoller-button::before, .block-6__spoller-button::after {
    width: 16px;
    height: 2px;
  }
  .choose-language__buttton {
    padding-left: 3px;
    width: 70px;
    overflow: hidden;
    font-size: 0;
  }
  .choose-language__buttton option {
    font-size: 16px;
  }
  .title {
    font-size: 32px;
  }
  .subtitle {
    font-size: 20px;
  }
  .para {
    font-size: 16px;
  }
}
@media (max-width: 380px) {
  .block-1__filter {
    min-height: auto;
  }
  .block-1__title {
    margin-top: 70px;
  }
  .block-1__header {
    align-items: start;
    flex-wrap: wrap;
  }
  .block-1__header-logo {
    margin: 0 15px 8px 0;
  }
}