/*
.container { 
    //(1)
    margin: 0 auto;
    //0 select closed , email column , gtc 2, input w100 ,login m10
    padding: 0 20px;
}

.container {
    //(2)
    margin: 0 auto;
    //0 + select open , email row , gtc3 ,input mw376, login m10
    padding: 0 30px;
}

.container {
    //(3) 960
    margin: 0 auto;
    //0 + select open , email row , gtc3 ,input mw376 login m25
    padding: 0 30px;
}
*/
@media (max-width: 1200px) {
  .container {
    max-width: 970px;
    padding: 0 60px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 750px;
    padding: 0 50px;
  }
  .block-1__title {
    margin-top: 170px;
  }
}
@media (min-width: 992px) {
  .block-section {
    flex-direction: row;
    margin: 0 -6px;
  }
  .block-text {
    text-align: left;
    order: 1;
    margin: 0 6px;
  }
  .block-img {
    margin: 0 6px;
    order: 1;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: none;
    padding: 0 40px;
  }
  .block-1__title {
    margin-top: 110px;
  }
  .block-1__registration {
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .block-1__input-email {
    position: relative;
  }
  .block-1__input {
    width: 376px;
    height: 58px;
  }
  .block-1__button-link {
    margin: 15px 0 0 0;
  }
}
@media (max-width: 600px) {
  .block-1__title {
    margin-top: 110px;
  }
  .block-1__input-email {
    position: relative;
  }
  .block-1__input {
    width: 376px;
    height: 58px;
  }
  .block-1__button-link {
    margin: 15px 0 0 0;
  }
}