@media (max-width: 1500px) {
  .container {
    padding: 0 4%;
  }
  .billboard__logo-and-text {
    left: 4%;
  }
  .swiper {
    padding: 0 calc(4% - 0.2vw);
    overflow: visible;
  }
  .slider-theme {
    padding: 0 4%;
  }
  .swiper-pagination.slider-pagination {
    right: 4%;
  }
  .slider-button-prev, .slider-button-next {
    width: calc(4% - 0.4vw);
  }
  .slider-button-prev::after, .slider-button-next::after {
    font-size: 2.5vw;
  }
  .footer {
    padding: 20px 4% 15px;
  }
}
@media (max-width: 1200px) {
  .header__nav-link {
    font-size: 0.9vw;
  }
}
@media (max-width: 1150px) {
  .header__logo {
    margin-right: 5px;
  }
}
@media (max-width: 950px) {
  .header__body {
    height: 41px;
  }
  .header__logo-img {
    width: 64px;
  }
  .header__account-arrow-svg-cont {
    display: none;
  }
}
@media (min-width: 885px) {
  .header__burger-nav {
    display: none;
  }
}
@media (max-width: 885px) {
  .header__logo-img {
    width: calc(8vw + 30px);
  }
  .header__browse-burger-menu {
    display: flex;
  }
  .header__nav-link {
    display: none;
  }
  .billboard__buttons {
    gap: calc(0.6vw + 3px);
  }
  .billboard__play {
    padding: calc(0.8 * (0.75vw + 3px)) calc(2.4 * (0.75vw + 3px)) calc(0.6vw + 3px) calc(1.5vw + 3px);
    gap: calc(0.6vw + 3px);
  }
  .billboard__play span {
    line-height: calc(1.8vw + 3px);
    font-size: calc(1.2vw + 3px);
  }
  .billboard__more-info {
    padding: calc(0.8 * (0.75vw + 3px)) calc(2.4 * (0.75vw + 3px)) calc(0.6vw + 3px) calc(1.5vw + 3px);
    gap: calc(0.6vw + 3px);
  }
  .billboard__more-info span {
    line-height: calc(1.8vw + 3px);
    font-size: calc(1.2vw + 3px);
  }
  .billboard__buttons-svg-cont {
    height: calc(1.8vw + 5px);
    width: calc(1.8vw + 5px);
  }
}
@media (max-width: 800px) {
  .slider-theme a {
    font-size: 12px;
  }
  .footer__nav-link {
    flex: 0 0 50%;
  }
}
@media (max-width: 500px) {
  .main__all-sliders {
    margin-top: -10vw;
  }
}
@media (max-width: 400px) {
  .header__navigation-icons {
    gap: 10px;
  }
  .header__search {
    display: none;
  }
}