* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", "Roboto,Ubuntu", "sans-serif";
  color: #e5e5e5;
}

.header {
  z-index: 3;
  padding: 20px 0;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: auto;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 10%, transparent);
  transition: 0.5s;
}
.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__left {
  display: flex;
}
.header__logo-img {
  width: 92.5px;
}
.header__nav {
  margin-left: 40px;
  display: flex;
  align-self: center;
  gap: 20px;
}
.header__nav-link {
  color: #fff;
}
.header__navigation-icons {
  display: flex;
  gap: 20px;
  align-self: center;
}
.header__search {
  background: 0;
}
.header__search-icon {
  color: #fff;
}
.header__bell {
  background: 0;
}
.header__bell-icon {
  color: #fff;
}
.header__account {
  border-radius: 3px;
  overflow: hidden;
}
.header__account-icon {
  width: 32px;
}

.container {
  padding: 0 60px;
}

.billboard {
  position: relative;
  height: 56.25vw;
}
.billboard__bg {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
}
.billboard__logo-and-text {
  position: absolute;
  top: auto;
  bottom: 35%;
  left: 60px;
  right: auto;
  width: 36%;
  display: flex;
  flex-direction: column;
  gap: 1.5vw;
}
.billboard__title-logo-img {
  width: 100%;
}
.billboard__para {
  color: #fff;
  font-size: 1.2vw;
  font-weight: 400;
  line-height: normal;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.45);
}
.billboard__slider {
  background-image: linear-gradient(180deg, hsla(0, 0%, 8%, 0) 0, hsla(0, 0%, 8%, 0.15) 15%, hsla(0, 0%, 8%, 0.35) 29%, hsla(0, 0%, 8%, 0.58) 44%, #141414 68%, #141414);
}

.swiper {
  padding: 44px calc(60px - 0.2vw);
  position: absolute;
  right: 0;
  left: 0;
  top: auto;
  bottom: 0;
}

.slider-theme {
  position: absolute;
  top: 0;
  left: 60px;
  font-size: 1.4vw;
  font-weight: 500;
}

.swiper-slide.slider-slide {
  width: 100%;
  padding: 0 0.2vw;
}

.slide-content {
  position: relative;
  padding-bottom: 56.25%;
  border-radius: 0.2vw;
  overflow: hidden;
}
.slide-content img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.swiper-pagination.slider-pagination {
  right: 60px;
  left: auto;
  bottom: auto;
  top: 30px;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 2px;
  z-index: 2;
}
.swiper-pagination.slider-pagination span {
  border-radius: 0;
  width: 15px;
  height: 3px;
}
.swiper-pagination.slider-pagination span.swiper-pagination-bullet {
  background-color: #fff;
  opacity: 0.3;
}
.swiper-pagination.slider-pagination span.swiper-pagination-bullet-active {
  background-color: #ffffff;
  opacity: 1;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0;
  opacity: 1;
}

.swiper-button-prev.slider-button-prev::after {
  color: rgb(255, 255, 255);
}

.swiper-button-next.slider-button-next::after {
  color: rgb(255, 255, 255);
}