* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", "Roboto,Ubuntu", "sans-serif";
  color: #e5e5e5;
  background: #141414;
  font-size: 0.75vw;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  flex: 0 0 auto;
  z-index: 5;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: auto;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 10%, transparent);
  transition: 0.5s;
}
.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 68px;
}
.header__left {
  display: flex;
}
.header__logo {
  margin-right: 30px;
}
.header__logo-img {
  width: 92.5px;
}
.header__nav {
  display: flex;
  align-self: center;
}
.header__nav-link {
  color: #fff;
  font-size: 14px;
  margin-left: 18px;
}
.header__navigation-icons {
  display: flex;
  gap: 20px;
  align-self: center;
}
.header__search {
  background: 0;
}
.header__search-icon {
  color: #fff;
}
.header__bell {
  background: 0;
}
.header__bell-icon {
  color: #fff;
}
.header__account {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
}
.header__account-icon {
  width: 32px;
  border-radius: 3px;
  overflow: hidden;
}
.header__account-arrow-svg-cont {
  margin-left: 10px;
}
.header__account-arrow-svg-cont svg {
  color: #fff;
  width: 20px;
  height: 20px;
}

.container {
  padding: 0 60px;
}

.main {
  flex: 1 0 auto;
  padding-bottom: 50px;
}
.main__preload-sliders {
  margin-top: -13vw;
}

.billboard {
  position: relative;
  height: 56.25vw;
}
.billboard__bg {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
}
.billboard__bottom-bg {
  z-index: -1;
  position: absolute;
  bottom: 0;
  top: auto;
  right: 0;
  left: 0;
  background-image: linear-gradient(180deg, hsla(0, 0%, 8%, 0) 0, hsla(0, 0%, 8%, 0.15) 15%, hsla(0, 0%, 8%, 0.35) 29%, hsla(0, 0%, 8%, 0.58) 44%, #141414 68%, #141414);
  background-repeat: repeat-x;
  height: 14.7vw;
}
.billboard__logo-and-text {
  position: absolute;
  top: auto;
  bottom: 35%;
  left: 60px;
  right: auto;
  width: 36%;
  display: flex;
  flex-direction: column;
  gap: 1.5vw;
}
.billboard__title-logo-img {
  width: 100%;
}
.billboard__para {
  color: #fff;
  font-size: 1.2vw;
  font-weight: 400;
  line-height: normal;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.45);
}
.billboard__buttons {
  display: flex;
  gap: 15px;
  align-items: center;
}
.billboard__play {
  padding: 0.6vw 1.8vw 0.6vw 1.5vw;
  background-color: white;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6vw;
}
.billboard__play svg {
  height: 100%;
  width: 100%;
}
.billboard__play span {
  line-height: 1.8vw;
  font-size: 1.2vw;
  font-weight: 500;
  color: black;
}
.billboard__more-info {
  padding: 0.6vw 1.8vw 0.6vw 1.5vw;
  background-color: rgba(109, 109, 110, 0.7);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6vw;
}
.billboard__more-info svg {
  color: #fff;
  height: 100%;
  width: 100%;
}
.billboard__more-info span {
  line-height: 1.8vw;
  font-weight: 500;
  font-size: 1.2vw;
  color: #ffffff;
  white-space: nowrap;
}
.billboard__buttons-svg-cont {
  height: 1.8vw;
  width: 1.8vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-section {
  overflow: hidden;
  padding-bottom: 3vw;
}

.swiper {
  padding: 0 60px;
  overflow: visible;
}

.slider-button-prev, .slider-button-next {
  z-index: 3;
  position: absolute;
  width: calc(60px - 0.2vw);
  top: 0;
  height: 100%;
  background: hsla(0, 0%, 8%, 0.7);
  margin-top: 0;
}
.slider-button-prev::after, .slider-button-next::after {
  font-size: 1.5vw;
  font-weight: bold;
  transform: scale(1.25);
}

.slider-button-prev {
  left: 0;
  right: auto;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

.slider-button-next {
  left: auto;
  right: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.slider-theme {
  padding: 0 60px 0 60px;
  margin-bottom: calc(0.75vw + 6px);
}
.slider-theme a {
  font-size: 1.4vw;
  font-weight: 500;
  color: #e5e5e5;
}

.swiper-slide.slider-slide {
  width: 100%;
  padding: 0 0.2vw;
}

.slide-content {
  position: relative;
  padding-bottom: 56.25%;
  border-radius: 0.2vw;
  overflow: hidden;
}
.slide-content img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.swiper-pagination.slider-pagination {
  right: 60px;
  left: auto;
  bottom: auto;
  top: calc(-0.375vw - 5px);
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 2px;
  z-index: 2;
}
.swiper-pagination.slider-pagination span {
  border-radius: 0;
  width: 15px;
  height: 3px;
}
.swiper-pagination.slider-pagination span.swiper-pagination-bullet {
  background-color: #fff;
  opacity: 0.3;
}
.swiper-pagination.slider-pagination span.swiper-pagination-bullet-active {
  background-color: #ffffff;
  opacity: 1;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0;
  opacity: 1;
}

.swiper-button-prev.slider-button-prev::after {
  color: rgb(255, 255, 255);
}

.swiper-button-next.slider-button-next::after {
  color: rgb(255, 255, 255);
}

.footer {
  flex: 0 0 auto;
  padding: 20px 60px 15px;
}
.footer__body {
  display: flex;
  flex-direction: column;
  max-width: 980px;
  margin: 0 auto;
  align-items: stretch;
}
.footer__social {
  display: flex;
  margin-bottom: 0.75vw;
}
.footer__social-link {
  color: white;
  margin-right: 15px;
}
.footer__social-link svg {
  width: 36px;
  height: 25px;
}
.footer__nav-links {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  margin-bottom: 14px;
}
.footer__nav-link {
  flex: 0 0 25%;
  color: grey;
  margin-bottom: 16px;
  font-size: 14px;
  line-height: 1.2;
}
.footer__service-code-button {
  align-self: start;
  border: 1px solid grey;
  margin-bottom: 20px;
  background-color: #141414;
  color: grey;
  font-size: 14px;
  padding: 0.375vw;
}
.footer__span {
  color: grey;
  font-size: 12px;
  line-height: 1;
}