@media (max-width: 1500px) {
  .container {
    padding: 0 4%;
  }
  .billboard__logo-and-text {
    left: 4%;
  }
  .swiper {
    padding: 0 calc(4% - 0.2vw);
    overflow: visible;
  }
  .slider-theme {
    padding: 0 4%;
  }
  .swiper-pagination.slider-pagination {
    right: 4%;
  }
  .slider-button-prev, .slider-button-next {
    width: calc(4% - 0.2vw);
  }
  .slider-button-prev::after, .slider-button-next::after {
    font-size: 2.5vw;
  }
  .footer {
    padding: 20px 4% 15px;
  }
}
@media (max-width: 1200px) {
  .header__nav-link {
    font-size: 0.9vw;
  }
}
@media (max-width: 1150px) {
  .header__logo {
    margin-right: 0;
  }
}
@media (max-width: 1150px) {
  .header__logo {
    margin-right: 5px;
  }
}
@media (max-width: 950px) {
  .header__body {
    height: 41px;
  }
  .header__logo-img {
    width: 64px;
  }
  .header__account-arrow-svg-cont {
    display: none;
  }
}
@media (max-width: 800px) {
  .slider-theme a {
    font-size: 12px;
  }
}