body {
  padding: 50px;
}

.cont {
  position: relative;
}
.cont__label {
  position: absolute;
  pointer-events: none;
  top: 10px;
  left: 8px;
  font-size: 14px;
  padding: 0 5px;
  transition: 0.3s;
}
.cont__input {
  padding: 10px;
  border-radius: 2px;
  border: 1px solid #36b5bb;
}
.cont__input:focus ~ .cont__label, .cont__input:not(:placeholder-shown) + .cont__label {
  top: -10px;
  background-color: #fff;
  font-size: 12px;
}