@font-face {
    font-family: 'Netflix Sans';
    src: url(/fonts/NetflixSans-Regular.otf) format('otf'), url(/fonts/NetflixSans-Regular.woff2) format('woff2');
}

@font-face {
    font-family: 'Netflix Sans';
    src: url(/fonts/NetflixSans-Bold.otf) format('otf'), url(/fonts/NetflixSans-Bold.woff2) format('woff2');
    font-weight: 700;
}

