@import 'null.scss';

body {
    font-family: 'Netflix Sans','Helvetica Neue','Segoe UI','Roboto,Ubuntu','sans-serif';
    color: #e5e5e5;
    background: #141414;
    font-size: 0.75vw;
}

.wrapper {
    overflow: hidden;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    flex: 0 0 auto;
    z-index: 5;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: auto;
    background: linear-gradient(180deg,rgba(0,0,0,.7) 10%,transparent);
    transition: .5s;
    &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 68px;
    }

    &__left {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__logo {
        margin-right: 30px;
    }

    &__logo-img {
        width: 92.5px;
    }
    &__browse-burger-menu {
        margin-left: 18px;
        display: none;
        justify-content: center;
        align-items: center;
        span {
            color:#fff;
            font-weight: bold;
            font-size: calc(1.2vw + 4px);
        }
    }
    &__browse-burger-arrow-svg-cont {
        svg {     
            color: #fff;
            height: calc(.75vw * 2.4 + 5px);
            width: calc(.75vw * 2.4 + 5px);
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
// burger hidden ul
	&__burger-nav {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 64px;
        left: 4%;
        right: 4%;
        max-width: 260px;
        background-color: rgba(0,0,0,.9);
        border: 1px solid hsla(0,0%,100%,.15);
        justify-content: center;
        align-items: center;
        border-top: 2px solid #e5e5e5;;
	}
	&__burger-li {
        height: 50px;
        display: flex;  
        align-items: center;
        justify-content: center;
        text-align: center;
	}
	&__burger-nav-link {
        color: #e5e5e5;
        font-size: 14px;
	}
// visible nav
    &__nav {
        display: flex;
        align-self: center;
    }

    &__nav-li {

    }

    &__nav-link {
        color: #e5e5e5;
        font-size: 14px;
        margin-left: 18px;
    }

    &__navigation-icons {
        display: flex;
        gap: 20px;
        align-self: center;
    }

    &__search {
        background: 0;
    }

    &__search-icon {
        color:#fff;
    }

    &__bell {
        background: 0;
    }

    &__bell-icon {
        color:#fff;
    }

    &__account {
        display: flex;
        justify-content: center;
        align-items: center;
        background: none;
    }

    &__account-icon {
        width: 32px;
        border-radius: 3px;
        overflow: hidden;
    }
    &__account-arrow-svg-cont {
        margin-left: 10px;
        width: 20px;
        height: 20px;
        svg {     
            color: #fff;
            width: 100%;
            height: 100%;
        }
    }
}
.container {
    padding: 0 60px;
}

.main {
    flex: 1 0 auto;
    padding-bottom: 50px;
    &__billboard {
    }
    &__preload-sliders {
        margin-top: calc(-13vw - 5px) ;
    }
}
.billboard {
    position: relative;
    height: 56.25vw;

    &__bg {
        z-index: -1;
        position: absolute;
        width: 100%;
        height: 100%;   
    }
    &__bottom-bg {
        z-index: -1;
        position: absolute;
        bottom: 0;
        top: auto;
        right: 0;
        left: 0;
        background-image: linear-gradient(180deg,hsla(0,0%,8%,0) 0,hsla(0,0%,8%,.15) 15%,hsla(0,0%,8%,.35) 29%,hsla(0,0%,8%,.58) 44%,#141414 68%,#141414);
        background-repeat: repeat-x;
        height: 14.7vw;
    }

    &__logo-and-text {
        position: absolute;
        top: auto;
        bottom: 35%;
        left: 60px;
        right: auto;
        width: 36%;
        display: flex;
        flex-direction: column;
        gap: 1.5vw;
    }

    &__title-logo {
    }

    &__title-logo-img {
        width: 100%;
    }

    &__text {
    }

    &__para {
        color: #fff;
        font-size: 1.2vw;
        font-weight: 400;
        line-height: normal;
        text-shadow: 2px 2px 4px rgba(0,0,0,.45);
    }

    &__buttons {
        display: flex;
        gap: 15px;
        align-items: center;
    }

    &__play {
        padding: calc(0.8 * 0.75vw) calc(2.4 * 0.75vw) calc(0.8 * 0.75vw) calc(2 * 0.75vw);
        background-color: white;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;      
        gap: calc(0.8 * 0.75vw); 
        svg {
        }
        span {
            line-height: calc(2.4 * 0.75vw);
            font-size: calc(1.6 * 0.75vw);
            font-weight: 500;
            color: black;
        }
    }

    &__more-info {
        padding: calc(0.8 * 0.75vw) calc(2.4 * 0.75vw) calc(0.8 * 0.75vw) calc(2 * 0.75vw);
        background-color: rgba(109, 109, 110, 0.7);
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: calc(0.8 * 0.75vw);
        svg {
            color: #fff;
        }
        span {
            line-height: calc(2.4 * 0.75vw);
            font-weight: 500;
            font-size: calc(1.6 * 0.75vw);
            color: #ffffff;
            white-space: nowrap;
        }     
    }
}

.buttons-svg-cont {
    height: calc(.85vw * 2.4 + 4px);
    width: calc(.85vw * 2.4 + 4px);
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
        width: 100%;
        height: 100%;
    }
}
.para {
}
.slider-section {
    padding-bottom: 3vw;
}

.swiper {
    padding: 0 calc(60px) ;
    overflow: visible;
}

.slider-button-prev, .slider-button-next {
    position: absolute;
    width: calc(60px - 0.2vw + 1px) ;
    top: 0;
    height: 100%;
    background: hsla(0,0%,8%,.7);
    margin-top: 0;
    &::after {
        font-size: 1.5vw;
        font-weight: bold;
        transform: scale(1.25);
    }
} 

.slider-button-prev {
    left: 0;
    right: auto;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}
.slider-button-next {
    left: auto;
    right: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}


.slider-theme {
    padding: 0  60px 0 calc(60px + 0.2vw); 
    margin-bottom: calc(0.75vw + 6px);
    a {
        font-size: 1.4vw;
        font-weight: 500;
        color: #e5e5e5;
    }
}

.swiper-wrapper.slider-wrapper {
    display: flex;
    align-items: center;
}

.swiper-slide.slider-slide {
    width: 100%;
    padding: 0 0.2vw;    
}

.slider-slide__content.slide-content-hover {
    z-index: 3;
    width: 150%;
    box-shadow: rgba(0, 0, 0, 0.75) 0px 3px 10px;
    transition: width 0.3s ease-out 0.5s, box-shadow 0s 0.5s;
}
.slider-slide__content.slide-content-hover_left {
    left: 0.2vw;
    right: auto;
    transform: translate(0,-50%);
}
.slider-slide__content.slide-content-hover_right {
    left: auto;
    right: 0.2vw;
    transform: translate(0,-50%);
}

.slider-slide {
    position: relative;
    &__container {
        padding-bottom: 56.25%;
    }
    &__content {
        transition: width 0.3s ease-out;
        width: calc(100% - 0.4vw);
        border-radius: 6px;
        overflow: hidden;
        position: absolute;
        transform: translate(-50%,-50%);
        top: 50%;
        right: auto;
        left: 50%;
    }

    &__title {
    position: relative;
    padding-bottom: 56.25%;
    transition: padding-bottom 0.3s ease;
    &:hover ~ .slider-slide__description {
        max-height: 1000px;
        padding: 16px;
        transition: max-height 0s ease-in 0.5s, padding 0s ease-in 0.5s;
    }
    img {
        position: absolute;
        width: 100%;  
        height: 100%;
        left: 0;
        top: 0;
    }

    } 
	&__description {
        padding: 0 16px;
        flex-direction: column;
        display: flex;
        max-height: 0;
        background: #141414;
        overflow: hidden;
        
        &:hover {
            max-height: 1000px;
            padding: 16px;
            opacity: 1;
            transition: max-height 0s 1s, padding 0s 1s;
        }
    }
	&__description-buttons-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
	}
	&__description-left-buttons {
        display: flex;
        gap: 4px;
	}
	&__description-right-buttons {
        margin-left: 4px;
	}
    &__description-button {
        display: flex;
        justify-content: center;
        align-items: center;
        max-height: 42px;
        max-width: 42px;
        min-height: 32px;
        min-width: 32px;  
        border-radius: 50%;
        padding: 8px;
        &_border-color {
            border: 2px solid hsla(0,0%,100%,.5);
            color: white;
            background: 0;
        }
    }
    &__description-metadata-cont {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        align-items: center;
        margin: 12px 0;
        gap:4px;
    }
    &__metadata-match-score {
        font-size: 16px;
        max-width: 300px;
        font-weight: 500;
        color: #46d369;
        margin-right: 6px;
    }
    &__metadata-second-line {
        font-size: 16px;
        display: flex;
        gap: 4px;
        align-items: center;
    }
    &__maturity-namber {
        &.code-button {
            padding: 0 0.6px;
        }
    }
    &__title-duration {
    }
    &__title-quality {
        &.code-button {
            padding: 0 0.6px;
        }
    }
    &__description-metadata-tags {
        display: flex;
        justify-content: start;
        flex-wrap: wrap;
        align-items: center;
        font-size: 16px;
        gap: 5px;
    }
    &__description-genre {
    }
    &__description-genre-separator {
        width: 4px;
        height: 4px;
        border-radius: 50%;
        overflow: hidden;
        background-color: #646464;
    }  
}

.swiper-pagination.slider-pagination {
    z-index: 1;
    right: 60px;
    left: auto;
    bottom: auto;
    top: calc((-0.5 * 0.75vw) - 5px);
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 2px;
    span {
       border-radius: 0;
       width: 15px;
       height: 3px;
    }
    span.swiper-pagination-bullet {
        background-color: #fff;
        opacity: 0.3;
    }
    span.swiper-pagination-bullet-active {
        background-color: #ffffff;
        opacity: 1;
        
    }
}
.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0;
    opacity: 1;
}

.swiper-button-prev.slider-button-prev,.swiper-button-next.slider-button-next{
    &::after {
        color: rgb(255, 255, 255);
    }
}

 
.footer {
    flex: 0 0 auto;
    padding: 20px 60px 15px;
    &__body {
        display: flex;
        flex-direction: column;
        max-width: 980px;
        margin:0 auto ;
        align-items: stretch;
    }

    &__social {
        display: flex;
        margin-bottom: 0.75vw;
    }

    &__social-link {
        color: white;
        margin-right: 15px;
        svg {
            width: 36px;
            height: 25px;
        }
    }

    &__nav-links {
        display: flex;
        flex-wrap: wrap;
        align-items: start;
        margin-bottom: 14px;
    }

    &__nav-link {
        flex: 0 0 25%;  
        color: grey;
        margin-bottom: 16px;
        font-size: 14px;
        line-height: 1.2; 
    }

    &__service-code-button {
        align-self: start;  
        margin-bottom: 20px; 
        font-size: 14px;
        color: grey;
    }

    &__span {
        color: grey;
        font-size: 12px;
        line-height: 1;
    }
}
// js classes 
//burger active class
.burger-active {
    display: flex;
}

.code-button {
    padding: calc(0.75vw * 0.5);
    background-color: #141414;
    border: 1px solid grey;
}