
@media (max-width:1500px) {
    .container {
        padding: 0 4%;
    }
    .billboard {
        &__logo-and-text {
            left: 4%;
        }
    }
    .swiper {
        padding: 0 calc(4% - 0.2vw) ;
        overflow: visible;
    }
    .slider-theme {
        padding: 0 4%;  
    }
    .swiper-pagination.slider-pagination {
        right: 4%;
    }
    .footer {
        padding: 20px 4% 15px;
    }
}
//1200
//head

@media(max-width:1200px) {
    .header {
        &__nav-link {
            font-size: calc(1.2 * 0.75vw);
        }
    } 
}
@media(max-width:1150px) {
    .header {
        &__logo {
            margin-right: 0;
        }      
    } 
}

@media(max-width:1150px) {
    .header {
        &__logo {
            margin-right: 5px;
        }      
    } 
}

@media(max-width:950px) {
    .header {   
        &__body {
            height: 41px;
        }
        &__logo-img {
            width: 64px;
        }  
        &__account-arrow-svg-cont {
            display: none;
        }
    } 
}

@media(max-width:800px) {
    .slider-theme {
        a {
            font-size: 12px;
        }
    }
}

//950 head

//885 browse + head + head buttons

//800 footer links flex 50%

//480 header + head buttons

//400 search none





















