@import 'null.scss';

body {
    font-family: 'Netflix Sans','Helvetica Neue','Segoe UI','Roboto,Ubuntu','sans-serif';
    color: #e5e5e5;
    background: #141414;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    flex: 0 0 auto;
    z-index: 3;
    padding: 20px 0;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: auto;
    background: linear-gradient(180deg,rgba(0,0,0,.7) 10%,transparent);
    transition: .5s;
    &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__left {
        display: flex;
    }

    &__logo {
    }

    &__logo-img {
        width: 92.5px;
    }

    &__nav {
        margin-left: 40px;
        display: flex;
        align-self: center;
        gap: 20px;
    }

    &__nav-link {
        color:#fff;
    }

    &__navigation-icons {
        display: flex;
        gap: 20px;
        align-self: center;
    }

    &__search {
        background: 0;
    }

    &__search-icon {
        color:#fff;
    }

    &__bell {
        background: 0;
    }

    &__bell-icon {
        color:#fff;
    }

    &__account {
        border-radius: 3px;
        overflow: hidden;
    }

    &__account-icon {
        width: 32px;
    }
}
.container {
    padding: 0 60px;
}

.main {
    flex: 1 0 auto;
    padding-bottom: 50px;
    &__billboard {
    }
    &__preload-sliders {
    }
}
.billboard {
    position: relative;
    height: 56.25vw;

    &__bg {
        z-index: -1;
        position: absolute;
        width: 100%;
        height: 100%;
    }

    &__logo-and-text {
        position: absolute;
        top: auto;
        bottom: 35%;
        left: 60px;
        right: auto;
        width: 36%;
        display: flex;
        flex-direction: column;
        gap: 1.5vw;
    }

    &__title-logo {
    }

    &__title-logo-img {
        width: 100%;
    }

    &__text {
    }

    &__para {
        color: #fff;
        font-size: 1.2vw;
        font-weight: 400;
        line-height: normal;
        text-shadow: 2px 2px 4px rgba(0,0,0,.45);
    }

    &__buttons {
        display: flex;
        gap: 15px;
        align-items: center;
    }

    &__play {
        padding: 0.8rem 2.4rem 0.8rem 2rem;
        background-color: white;
        border-radius: 4px;
        display: flex;
        align-items: center;
        gap: 10px;
        
        span {
            line-height: 2.4rem;
            font-size: 1.6rem;
            font-weight: 500;
            color: black;
        }
    }

    &__more-info {
        padding: 0.8rem 2.4rem 0.8rem 2rem;
        background-color: rgba(109, 109, 110, 0.7);
        border-radius: 4px;
        display: flex;
        align-items: center;
        gap: 10px;   
        span {
            line-height: 2.4rem;
            font-weight: 500;
            font-size: 1.6rem;
            color: #ffffff;
            white-space: nowrap;
        }
        svg {
            color: #ffffff;
            flex: 1 1 auto;
        }
    }

    &__slider-section {
        position: absolute;
        right: 0;   
        left: 0;
        top: auto;
        bottom: 0;
        background-image: linear-gradient(180deg,hsla(0,0%,8%,0) 0,hsla(0,0%,8%,.15) 15%,hsla(0,0%,8%,.35) 29%,hsla(0,0%,8%,.58) 44%,#141414 68%,#141414);
        &.slider-section {
            
        }
    }

    &__slider {
        background-image: linear-gradient(180deg,hsla(0,0%,8%,0) 0,hsla(0,0%,8%,.15) 15%,hsla(0,0%,8%,.35) 29%,hsla(0,0%,8%,.58) 44%,#141414 68%,#141414);
    }
}
.para {
}
.slider-section {
    overflow: hidden;
    padding-bottom: 3vw;
}

.swiper {
    padding: 0 calc(60px - 0.2vw) ;
    overflow: visible;
}

.slider-theme {
    padding: 0 60px 0 60px; 
    margin-bottom: 14px;
    a {
        font-size: 1.4vw;
        font-weight: 500;
        color: #e5e5e5;
        line-height: 1.3;
    }
}

.swiper-wrapper.slider-wrapper {
}

.swiper-slide.slider-slide {
    width: 100%;
    padding: 0 0.2vw;    
}

.slide-content {
    position: relative;
    padding-bottom: 56.25%;
    border-radius: 0.2vw;
    overflow: hidden;
    img {
        position: absolute;
        width: 100%;  
        height: 100%;
        left: 0;
        top: 0;
    }
}

.swiper-pagination.slider-pagination {
    right: 60px;
    left: auto;
    bottom: auto;
    top: -18px;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 2px;
    z-index: 2; 
    span {
       border-radius: 0;
       width: 15px;
       height: 3px;
    }
    span.swiper-pagination-bullet {
        background-color: #fff;
        opacity: 0.3;
    }
    span.swiper-pagination-bullet-active {
        background-color: #ffffff;
        opacity: 1;
        
    }
}
.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0;
    opacity: 1;
}

.swiper-button-prev.slider-button-prev::after {
    color: rgb(255, 255, 255);
}

.swiper-button-next.slider-button-next::after {
    color: rgb(255, 255, 255);
}
.footer {
    flex: 0 0 auto;
    padding: 20px 60px 15px;
    &__body {
        display: flex;
        flex-direction: column;
        max-width: 980px;
        margin:0 auto ;
        align-items: stretch;
    }

    &__social {
        display: flex;
        margin-bottom: 1rem;
    }

    &__social-link {
        color: white;
        margin-right: 15px;
        svg {
            width: 38px;
            height: 27px;
        }
    }

    &__nav-links {
        display: flex;
        flex-wrap: wrap;
        align-items: start;
        margin-bottom: 14px;
    }

    &__nav-link {
        flex: 0 0 25%;  
        color: grey;
        margin-bottom: 16px;
        font-size: 14px;
        line-height: 1.2;
    }

    &__service-code-button {
        align-self: start;
        border: 1px solid grey;;
        margin-bottom: 20px;
        background-color: #141414;
        color: grey;
        font-size: 14px;
        padding: 0.5em;
    }

    &__span {
        color: grey;
        font-size: 12px;
        line-height: 1;
    }
}
