
@media (max-width:1500px) {
    .container {
        padding: 0 4%;
    }
    .billboard {
        &__logo-and-text {
            left: 4%;
        }
    }
    .swiper {
        padding: 0 calc(4% - 0.2vw) ;
        overflow: visible;
    }
    .slider-theme {
        padding: 0 4%;  
    }
    .swiper-pagination.slider-pagination {
        right: 4%;
    }
    .slider-button-prev, .slider-button-next {
        width: calc(4% - 0.2vw);
        &::after {
            font-size: 2.5vw;
        }
    } 
    .footer {
        padding: 20px 4% 15px;
    }
}

@media(max-width:1200px) {
    .header {
        &__nav-link {
            font-size: calc(1.2 * 0.75vw);
        }
    } 
}

@media(max-width:1150px) {
    .header {
        &__logo {
            margin-right: 5px;
        }      
    } 
}

@media(max-width:950px) {
    .header {   
        &__body {
            height: 41px;
        }
        &__logo-img {
            width: 64px;
        }  
        &__account-arrow-svg-cont {
            display: none;
        }
    } 
}

@media(min-width:885px) {
    .header {
        &__burger-nav {
            display: none;
        }
    }
}

@media(max-width:885px) {
    .header {
        &__logo-img {
            width: calc(8vw + 30px);
        }

        &__browse-burger-menu {
            display: flex;
            span {
            }
        }
        &__nav-link {
            display: none;
        }
    } 
    .billboard {
        &__buttons {
            gap: calc(0.8 * 0.75vw + 3px); 
        }
        &__play {
            padding: calc(0.8 * (0.75vw + 3px)) calc(2.4 * (0.75vw + 3px )) calc(0.8 * 0.75vw + 3px) calc(2 * 0.75vw + 3px);     
            gap: calc(0.8 * 0.75vw + 3px); 
            span {
                line-height: calc(2.4 * 0.75vw + 3px);
                font-size: calc(1.6 * 0.75vw + 3px);
            }
        }
        &__more-info {
            padding: calc(0.8 * (0.75vw + 3px)) calc(2.4 * (0.75vw + 3px )) calc(0.8 * 0.75vw + 3px) calc(2 * 0.75vw + 3px);
            gap: calc(0.8 * 0.75vw + 3px);
            span {
                line-height: calc(2.4 * 0.75vw + 3px);
                font-size: calc(1.6 * 0.75vw + 3px);
            }     
        }    
        &__buttons-svg-cont {
            height: calc(.75vw * 2.4 + 5px);
            width: calc(.75vw * 2.4 + 5px);
        }
    }
}

@media(max-width:800px) {
    .slider-theme {
        a {
            font-size: 12px;
        }
    }
    .footer__nav-link {
        flex: 0 0 50%;   
    }
}

@media(max-width:500px) {
    .main {
        &__billboard {
        }
        &__all-sliders {
            margin-top: -10vw;
        }
    }
}

@media(max-width:400px) {
    .header {
        &__navigation-icons {
            gap: 10px;
        }
        &__search {          
            display: none;
        }
    }
}






















