@import 'null.scss';

.choose-language {
    position: relative;
    &__buttton {
        position: relative;
        width: 136px;
        height: 32px;
        font-size: 1rem;
        background: rgba(0, 0, 0, 0.5);
        color: #fff;
        border: 1px solid #696969;
        border-radius: 5px; 
        padding-left: 38px;
        text-align: left;  
        &:focus {
            box-shadow: 0 0 0 4px #ffffff;
            outline: 2.5px solid #000000;
        }
        option {
            background-color: #fff;
        }
    }
    &__svg-container {
        position: absolute;
        left: 12px;
        top: 50%;
        transform: translate(0, -40%);
    }
    &__svg-container-2 {
        position: absolute;
        right: 12px;
        top: 50%;
        transform: translate(0, -38%);
    }   
}
body {
    background-color: #865858;
    padding: 50px;
}


select {
    -webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
  }
select::-ms-expand {
    display: none;
}