body {
    padding: 50px;
}
.cont {
    position: relative;
    &__label {
        position: absolute;
        pointer-events: none;
        top: 10px;
        left: 8px;
        font-size: 14px;
        padding: 0 5px;
        transition: 0.3s;
    }

    &__input {
        padding: 10px;
        border-radius: 2px;
        border: 1px solid #36b5bb;
        &:focus ~ .cont__label, &:not(:placeholder-shown) + .cont__label {
            top: -10px;
            background-color: #fff;
            font-size: 12px;
        }
    }
}

