@import 'null.scss';

.wrapper {
}
.slider {
    //overflow: hidden;
    position: relative;
    padding: 50px;
		&__line {
            border: 1px solid #000;
            background-color: #6acbcb;
		}
        &__line-content {
            display: flex;
            position: relative;
            transition: 1s;
            left: 0;
        }
        &__item {
            min-width: 20%;          
            padding: 10px;
            img {
                background-color: #845757;
                width: 100%;
                height: 100px;
            }
		}

		&__prev {
            display: block;
            position: absolute;
            left: 60px;
            padding: 10px;
            border: 1px solid #000;
            top: 50%;
            transform: translate(0,-50%);
		}

		&__next {
            display: block; 
            position: absolute;
            right: 60px;
            padding: 10px;
            border: 1px solid #000;
            top: 50%;
            transform: translate(0,-50%);
		}
}
